.au-breadcrumbs {
  display: inline-block;
}

.au-grid .container {
  width: 744px;
}

.au-grid .col-sm-1,
.au-grid .col-sm-2,
.au-grid .col-sm-3,
.au-grid .col-sm-4,
.au-grid .col-sm-5,
.au-grid .col-sm-6,
.au-grid .col-sm-7,
.au-grid .col-sm-8,
.au-grid .col-sm-9,
.au-grid .col-sm-10,
.au-grid .col-sm-11,
.au-grid .col-sm-12 {
  float: left;
}

.au-grid .col-sm-1 {
  width: 8.3333333333%;
}

.au-grid .col-sm-2 {
  width: 16.6666666667%;
}

.au-grid .col-sm-3 {
  width: 25%;
}

.au-grid .col-sm-4 {
  width: 33.3333333333%;
}

.au-grid .col-sm-5 {
  width: 41.6666666667%;
}

.au-grid .col-sm-6 {
  width: 50%;
}

.au-grid .col-sm-7 {
  width: 58.3333333333%;
}

.au-grid .col-sm-8 {
  width: 66.6666666667%;
}

.au-grid .col-sm-9 {
  width: 75%;
}

.au-grid .col-sm-10 {
  width: 83.3333333333%;
}

.au-grid .col-sm-11 {
  width: 91.6666666667%;
}

.au-grid .col-sm-12 {
  width: 100%;
}

.au-grid .col-sm-pull-0 {
  right: auto;
}

.au-grid .col-sm-pull-1 {
  right: 8.3333333333%;
}

.au-grid .col-sm-pull-2 {
  right: 16.6666666667%;
}

.au-grid .col-sm-pull-3 {
  right: 25%;
}

.au-grid .col-sm-pull-4 {
  right: 33.3333333333%;
}

.au-grid .col-sm-pull-5 {
  right: 41.6666666667%;
}

.au-grid .col-sm-pull-6 {
  right: 50%;
}

.au-grid .col-sm-pull-7 {
  right: 58.3333333333%;
}

.au-grid .col-sm-pull-8 {
  right: 66.6666666667%;
}

.au-grid .col-sm-pull-9 {
  right: 75%;
}

.au-grid .col-sm-pull-10 {
  right: 83.3333333333%;
}

.au-grid .col-sm-pull-11 {
  right: 91.6666666667%;
}

.au-grid .col-sm-pull-12 {
  right: 100%;
}

.au-grid .col-sm-push-0 {
  left: auto;
}

.au-grid .col-sm-push-1 {
  left: 8.3333333333%;
}

.au-grid .col-sm-push-2 {
  left: 16.6666666667%;
}

.au-grid .col-sm-push-3 {
  left: 25%;
}

.au-grid .col-sm-push-4 {
  left: 33.3333333333%;
}

.au-grid .col-sm-push-5 {
  left: 41.6666666667%;
}

.au-grid .col-sm-push-6 {
  left: 50%;
}

.au-grid .col-sm-push-7 {
  left: 58.3333333333%;
}

.au-grid .col-sm-push-8 {
  left: 66.6666666667%;
}

.au-grid .col-sm-push-9 {
  left: 75%;
}

.au-grid .col-sm-push-10 {
  left: 83.3333333333%;
}

.au-grid .col-sm-push-11 {
  left: 91.6666666667%;
}

.au-grid .col-sm-push-12 {
  left: 100%;
}

.au-grid .col-sm-offset-0 {
  margin-left: 0%;
}

.au-grid .col-sm-offset-1 {
  margin-left: 8.3333333333%;
}

.au-grid .col-sm-offset-2 {
  margin-left: 16.6666666667%;
}

.au-grid .col-sm-offset-3 {
  margin-left: 25%;
}

.au-grid .col-sm-offset-4 {
  margin-left: 33.3333333333%;
}

.au-grid .col-sm-offset-5 {
  margin-left: 41.6666666667%;
}

.au-grid .col-sm-offset-6 {
  margin-left: 50%;
}

.au-grid .col-sm-offset-7 {
  margin-left: 58.3333333333%;
}

.au-grid .col-sm-offset-8 {
  margin-left: 66.6666666667%;
}

.au-grid .col-sm-offset-9 {
  margin-left: 75%;
}

.au-grid .col-sm-offset-10 {
  margin-left: 83.3333333333%;
}

.au-grid .col-sm-offset-11 {
  margin-left: 91.6666666667%;
}

.au-grid .col-sm-offset-12 {
  margin-left: 100%;
}

.au-header {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.6;
}

.au-header {
  padding: 48px 0;
  padding: 3rem 0;
}

.au-header__heading {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.5;
}

.au-header__brand {
  min-width: 256px;
  min-width: 16rem;
}

.au-header__brand .au-header__brand-image {
  float: left;
  max-width: 256px;
  max-width: 16rem;
  margin-right: -256px;
  margin-right: -16rem;
}

.au-header__brand .au-header__brand-image + .au-header__text {
  padding-left: 16px;
  padding-left: 1rem;
  margin-left: 272px;
  margin-left: 17rem;
  margin-top: 0;
  float: left;
  border-left: 1px solid gray;
}

.au-header--dark .au-header__brand .au-header__brand-image + .au-header__text {
  border-left-color: #95b7bf;
}

.au-header.au-header--hero .au-header__heading {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1.5;
}